# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/relaket-board.iml
/.idea/vcs.xml
/.pull-master.cmd

# vscode
.vscode
/.idea/deployment.xml
/public/tinymce-uploads/0d2a956e-6f15-40e1-a4b1-11c9c51b4e9f.png
/public/tinymce-uploads/1232a9a0-9706-4274-b4b7-567fbb710ddd.jpg
/public/tinymce-uploads/35034605-f5ad-482b-9b61-4ce345a89717.jpg
/public/tinymce-uploads/3d5fde0c-fca8-4575-b25f-282354681439.jpg
/public/tinymce-uploads/5e0b63da-e2f7-4c79-b4bd-2cc6270ff2b1.jpg
/public/tinymce-uploads/613eea89-b936-447b-81e2-4678a776a3df.jpg
/public/tinymce-uploads/621d7f46-5823-4da9-a3fb-5253d8fa922c.jpg
/public/tinymce-uploads/66cccbc9-750b-49e6-b7eb-72cc36a3bf7a.jpg
/public/tinymce-uploads/6d580d3e-3d84-49a1-8f27-c24b05f8de57.jpg
/public/tinymce-uploads/737eaa04-192c-48bc-8c7b-fa59b7f5bc4f.jpg
/public/tinymce-uploads/8422abad-1663-48bf-855e-09ad906c7720.jpg
/public/tinymce-uploads/a34067ae-8bf0-4b03-8f9f-07e42f6fe7ed.jpg
/public/tinymce-uploads/a6e2e7e2-937b-47f8-b6fa-8b0b8be40408.jpg
/public/tinymce-uploads/b1ea2e6a-4db8-4294-b2e8-35be09a38329.jpg
/public/uploads/920337c2-4192-42b8-be4e-304cdbd51f53.png
/public/uploads/찌부등_1751347725696.png
/.vscode
